DATABASE_URL=postgresql://user:pass@host:5432/dbname
JWT_SECRET=your-random-secret-here
MQTT_HOST=d34d0f0f7c86418d8c0f451a884ff4e7.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=JARVIS
MQTT_PASS=iloveyou3000
PORT=3000
